<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column">
    <mat-checkbox
      [disabled]="formDisabled"
      [checked]="showResponses"
      (change)="changeShowResponses($event)"
      name="showResponses"
    >
      <span>Show participant responses</span>
    </mat-checkbox>
  </div>
  <div>
    <mat-form-field appearance="outline" class="no-field-hint">
      <mat-label>{{ 'creator.content.qti-item' | transloco }}</mat-label>
      <textarea
        #answerInput
        [disabled]="formDisabled"
        [(ngModel)]="qtiItem"
        [attr.aria-label]="'creator.content.a11y-enter-qti-item' | transloco"
        id="body-input"
        cdkAutosizeMaxRows="20"
        cdkAutosizeMinRows="20"
        matInput
        cdkTextareaAutosize
        maxlength="1000000"
        name="questionInput"
      ></textarea>
    </mat-form-field>
  </div>
  <div></div>
</div>
