<div fxLayout="column">
  <qti-assessment-item
    #qti
    (qti-interaction-changed)="interactionChanged($any($event))"
    (qti-assessment-item-connected)="itemConnected($any($event))"
  >
    <div [outerHTML]="content.qtiItem | safeHtml"></div>
  </qti-assessment-item>
  <div class="results-container">
    @if (showAnswerIndicator()) {
      <mat-card appearance="outlined" [style.width.%]="100">
        <qti-assessment-item
          #qtiAnswers
          data-id="answers"
          (qti-assessment-item-connected)="answersConnected($any($event))"
        >
          <div [outerHTML]="content.qtiItem | safeHtml"></div>
        </qti-assessment-item>
      </mat-card>
    }
  </div>
</div>
