<div fxLayout="column">
  @if (isLoading) {
    <app-loading-indicator></app-loading-indicator>
  }
  @if (!isLoading) {
    <qti-assessment-item #qtiItem>
      <div [outerHTML]="content.qtiItem | safeHtml"></div>
    </qti-assessment-item>
    <div
      class="results-container"
      [ngClass]="{
        invisible: !answersVisible,
      }"
    >
      @if (answersVisible && showResponses) {
        <mat-card appearance="outlined" [style.width.%]="100">
          <mat-card-title>Participants' responses</mat-card-title>
          <div fxLayout="row wrap" fxLayoutAlign=" center">
            @for (
              responseWeight of responseWeights;
              track responseWeight.response
            ) {
              <math-field
                class="response"
                read-only
                [style.font-size.rem]="responseWeight.size"
                >{{ responseWeight.response }}</math-field
              >
            }
          </div>
        </mat-card>
      }
    </div>
  }
  @if (!isLoading) {
    <div
      class="results-container"
      [style.marginTop.em]="1"
      [ngClass]="{
        invisible: !answersVisible || !correctVisible,
      }"
    >
      <mat-card appearance="outlined" [style.width.%]="100">
        <qti-assessment-item
          #qtiItemAnswers
          data-id="answers"
          (qti-assessment-item-connected)="answersConnected($any($event))"
        >
          <div [outerHTML]="content.qtiItem | safeHtml"></div>
        </qti-assessment-item>
      </mat-card>
    </div>
  }
</div>
